.header{
    /* background-color: red; */
    /* flex: 1; */
    
    display: flex;
    height: 500px;
    /* background-color: brown; */
    justify-content: center;
    margin-top: 100px;
}
.headerContainer{
    margin-top: 20px;
    width: 100%;
    max-width: 1444px;
    display: flex;
    justify-content: space-between;
}
.headerLeft{
    height: max-content;
    flex: 2;
    padding: 20px;
    /* background-color: pink; */
}
.headerRight{
    height: max-content;
    /* background-color: pink; */
    
    flex: 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    /* justify-content: space-between; */
    /* background-color: black; */
}
.headerRight1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.img1{
    object-fit: contain;
}
.img2{
    object-fit: contain;
}
.headerRight2{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.headerData{
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 20px;
    border-width: 10px;
    /* background-color: brown; */
    justify-content:center;
    align-items: center;
    
    background-color: #fff;
     border: 1px solid #fff;
     /* Box Shadow */
     box-shadow: 1px 1px 5px 0px #00000020;
}
select {
   width: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: aquamarine; */

  }
  .headerDataItem{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 10px;
  }
  .headerDataItem>p{
    padding-left: 10px;
  }
  .searchHeader{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 15%;
    border-radius: 10px;
    background-color:#FFA03F;
  }